/1
/2
/bin
/func.go
/govno
/kakashka.go
/main.go
/map.go
/massive.go
/meha77373.txt
/misha
/misha.Dir
/muha.html
/muha2.text
/muha2.txt
/muha69.txt
/muha7.txt
/newdz.go
/pap.go
/pkg
/sorting.go
/src
/structure.go
/vv.go